@media screen and (max-width:575px) {
    #title-config {
        display: none;
    }
    #display{
        height: 60vh;
    
    }
}

@media screen and (min-width:576px) and (max-width:850px) {

    #display{
        height: 60vh;
    }
    .view{
        flex: 1;
    }
}
@media screen and (min-width:850px) and (max-width:1200px) {
    main{
        flex-direction: row;
        align-content: center;
        margin: 0 60px;
    }
    #display, #control{
        flex:1;
        border-radius: 20px;
    }
    #control{
        order: 1;
    }
    #display{
        order:2;
        padding: .8em;
    }
    header{
        font-size: 25px;
        margin: 30px;
    }
    label{
        font-size: 1em;
    }
    h5{
        font-size: 1.5em;
        padding: 0;
    }
    #select{
        gap: 1.5em
    }
    #display{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        border: 2px solid rgb(235, 229, 229);
        box-shadow: 1px 2px 4px 2px rgb(218, 215, 215);
    }
    #square{
        width: 200px;
        height: 150px;
    }
}
@media screen and (min-width:1201px) {
    main{
        flex-direction: row;
        align-content: center;
        margin: 0 80px;
    }

    #display, #control{
        flex:1;
        border-radius: 20px;
    }
    #control{
        order: 1;
        gap:1.5em
    }
    #display{
        order:2;
        padding: .8em;
        height: 100%;
        border: 2px solid rgb(235, 229, 229);
        box-shadow: 1px 2px 4px 2px rgb(218, 215, 215);
    }
    header{
        font-size: 35px;
        margin:30px 0 40px;
    }
    label{
        font-size: 1.3em;
    }
    h5{
        font-size: 1.5em;
    }
    #select{
        gap: 3em
    }
    .view{
        flex:1;
    }
    .view input{
        flex:1;
        border: none;
        box-shadow: 0 0 3px 3px rgb(163, 161, 161);
    }
    #display{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    #square{
        width: 350px;
        height: 250px;
    }
}