*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, h5, h2{
    text-align: center;
    padding: 0.5em;
}
main{
    display:flex;
    flex-direction: column;
    gap:1.2em;
}
/*Display*/
#box{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items:center;
}
#square{
    width: 60%;
    height: 60%;
    background-color: aqua;
}
/*Control*/
#control{
    display: flex;
    flex-direction: column;
    padding: .8em;
    gap:0.8em;
}
.select{
    display: flex;
    justify-content: center;
    gap: 0.8em;
}
.adjust{
    display: flex;
    flex-direction: column;
    flex:7;
    gap: 0.5em;
    border-bottom: 1px dashed gray;
    padding: .3em;
}
.view{
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 0.3em;;
}
 .view input{
    height: 2em;
    width: 2em;
}
#select{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}
#color{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
#color div{
    display: flex;
    gap:0.5em;
    align-items: center;
}
#sombra{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Resultado*/

#result{
    display: flex;
    flex-flow: column wrap;
    gap:0.5em;
    margin-bottom: 0.5em;
}

#code{
    display: flex;
    flex-flow: column wrap;
    gap:0.5em;
    background-color: bisque;
    border: 1px solid blue;
    align-items: center;
    padding: 0.5em;
}
