*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,h5, h2{
    text-align: center;
    padding: 0.5em;
}
main{
    display:flex;
    flex-direction: column;
    gap:1.2em;
}
/*Display*/
#display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}
#square{
    width: 200px;
    height: 150px;
    background-color: aqua;
    border-radius: 4px;
}
#code{
    padding: 3px;
    width: 200px;
    text-align: center;
}
#result{
    display: flex;
    margin: 3px;
    align-items: center;
    gap: 4px;
}
/*Control*/
#control{
    display: flex;
    flex-direction: column;
    padding: .8em;
    gap:0.8em;
}
.select{
    display: flex;
    justify-content: center;
    gap: 0.8em;
}
.adjust{
    display: flex;
    flex-direction: column;
    flex:7;
    gap: 0.5em;
    border-bottom: 1px dashed gray;
    padding: .3em;
}
.view{
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 0.3em;;
}
 .view input{
    height: 2em;
    width: 2em;
}
#select{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}
#color{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
#color div{
    display: flex;
    gap:0.5em;
    align-items: center;
}
#sombra{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}