/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
main, header{
    padding: 25px;
}
label{
    font-size: large;
    font-weight: bold;
}

               /*configurações*/
#config {
    display:flex;
    margin:0 1.5rem;
    gap: 1rem;
}
                 /*control*/

.select{
    display: flex;
    border-bottom:2px dashed gray;
    padding: 15px;
    align-items: center;
    gap:10px;
}
#select{
    display: flex;
    border-bottom:2px dashed gray;
    justify-content: space-around;
    padding: 15px;
    gap:10px;
}
.adjust{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex: 6;
}
.view{
    display:flex;
    flex:1
}

#control{
    display:flex;
    flex-direction: column;
    gap: 15px;
    flex:1;
}
#color{
    display: flex;
    gap:15px;
    align-items: center;
}
/*Range*/
.view{
    align-items: center;
    font-size: large;
}
.view input[type="text"]{
height: 40px;
width: 40px;
margin: 6px;
text-align: center;
font-size: large;
}
#view input[type="text"]{
    width: 100px;
    height: 30px;
    font-size: large;
    text-align: center;
}
#sombra{
    display: flex;
    align-items: center;
    gap:10px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

                /*Display*/
#display{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    align-items: center;
}
#box{
    width: 350px;
    height: 250px;
    background-color: antiquewhite;
}

/*codigo gerado*/
#result{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#code{
    text-align: center;
    background-color: aqua;
    border: 4px solid orange;
    border-radius:8px;
    padding: 10px;
}
#result p{
    font-size: large;
    font-style: italic;
}